@import 'helpers.styl'

@font-face{
  font-family: 'BCSans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/BCSans/BCSans-Regular.woff2') format('woff2'), /* Optimized for very modern browsers */
       url('./assets/fonts/BCSans/BCSans-Regular.woff') format('woff'), local('BCSans'); /* Modern Browsers */
  font-display: swap;
}
@font-face{
  font-family 'BCSans'
  font-style italic
  src url('./assets/fonts/BCSans/BCSans-Italic.woff2') format('woff2'), /* Optimized for very modern browsers */
       url('./assets/fonts/BCSans/BCSans-Italic.woff') format('woff'), local('BCSans'); /* Modern Browsers */
  font-display swap
}
@font-face{
  font-family 'BCSans'
  font-weight 700
  src url('./assets/fonts/BCSans/BCSans-Bold.woff2') format('woff2'), /* Optimized for very modern browsers */
       url('./assets/fonts/BCSans/BCSans-Bold.woff') format('woff'), local('BCSans'); /* Modern Browsers */
  font-display swap
}
@font-face{
  font-family 'BCSans'
  font-style italic
  font-weight 700
  src url('./assets/fonts/BCSans/BCSans-BoldItalic.woff2') format('woff2'), /* Optimized for very modern browsers */
       url('./assets/fonts/BCSans/BCSans-BoldItalic.woff') format('woff'), local('BCSans'); /* Modern Browsers */
  font-display: swap
}

html {
  font-size: 16px
  box-sizing border-box
}

*, *:before, *:after
  box-sizing border-box

html, body
  font-family 'BCSans', Verdana, Arial, sans-serif

body
  overflow-y scroll

button, input
  font-family 'BCSans', Verdana, Arial, sans-serif

input
  font-size: 1rem

fieldset
  border none

legend
  float left
  margin-bottom 1rem
  font-size: 1.125rem
  font-weight 700

p
  margin 1.5rem 0
  line-height 1.5
  font-size 1rem

th, td 
  font-size 1rem

// Overrides
.vs-input--label,
.vs-select--label
  padding-left 0 !important;
  font-size 1rem

.vs-input--label + .vs-con-input,
.vs-input--label + .custom-chips,
.vs-select--label + .input-select-con
  margin-top 0.65rem

// Vuesax doesn't have support for the 'size' property on select controls so we create our own
.con-select.large .vs-select--input
  padding-top: 0.8rem
  padding-bottom: 0.8rem
  padding-left: 0.8rem

.vs-select--item
  padding 0.75rem
  font-size 1rem

// Multiselect doesn't support icon pack changes so we fix it!
.vs-select--item.con-icon.activex .vs-select--item-icon
  display none

.vs-select-primary .vs-select--item.activex
  padding 1rem

.vs-con-table table
  font-size 1rem

.icon-select
  display none !important

.vs-row
  width auto !important

.con-vs-chip .vs-chip--text
  font-size 0.9375rem

// Input Hints
.con-text-validation .span-text-validation
  padding 0.5rem 0
  font-size 0.875rem