@import 'fonts';
@import 'colours';
@import 'buttons';
@import 'tables';
@import 'vars';
@import 'editing';

* {
  box-sizing: border-box;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: $fontFamily;
  color: $text;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  letter-spacing: -0.02rem;
}

#mainColumnLayout {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 2vw;
  margin-right: 2vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  background-color: #f7f8fa;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}


// Page Layouts
.pageTitle {
  padding: 2rem 1rem;
  background-color: #ffffff;

  h1 {
    margin: 0;
  }
}

.pageBody {
  padding: 2.5rem 1rem;

  h2 {
    margin-top: 0;
  }
}

dt {
  font-weight: bold;
}
dd {
  margin: 0 0 0 0.25rem;
}





