@import 'colours';

.main-nav {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  color: $mainNavBg;
  background: $mainNavBg;

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    position: relative;
    display: inline-block;
    align-items: center;

    a {
      display: block;
      padding: 1rem;
      color: $mainNavFontColor;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
