<!DOCTYPE html>
<html lang="en">
<head>
    <!-- when running in dev mode we don't have Caddy available to inject runtime configuration -->

    <meta charset="utf-8">
    <title>TRACKS [DEV MODE]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      window.CONFIG = {
        API_BASE: 'http://localhost:6005',
        KEYCLOAK_CLIENT_ID: 'tracks-ui',
        KEYCLOAK_REALM: 'tracks',
        KEYCLOAK_URL: 'http://localhost:8080/auth',
      };
    </script>
</head>
<body>

<div id="root"></div>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>

</html>
