$linkBackground: #003366;
$logoBackground: #003366;

$foreground: #494949;
$bcYellow: #fade81;

$BCgovBlue: #003366;
$BCgovGold: #fade81;

$font-color: #313132;

$mainNavBg: #38598a;
$mainNavFontColor: #ffffff;
