$linkBackground: #003366;
$logoBackground: #003366;

$foreground: #494949;

$BCgovBlue: #003366;
$BCgovGold: #fade81;

$font-color: #313132;

$mainNavBg: #38598a;
$mainNavFontColor: #ffffff;

$tableEvenRowBackground: #ebebfc;
$tableEvenRowForeground: #333333;
$tableOddRowBackground: #ffeecb;
$tableOddRowForeground: #333333;
$tableEvenRowHoverBackground: #fae37a;
$tableEvenRowHoverForeground: #333333;
$tableOddRowHoverBackground: #fae37a;
$tableOddRowHoverForeground: #333333;
