@font-face {
  font-family: "BCSans";
  src: url('/assets/fonts/BCSans-Regular.woff') format('woff');
}

@font-face {
  font-family: "BCSans";
  src: url('/assets/fonts/BCSans-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "BCSans";
  src: url('/assets/fonts/BCSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "BCSans";
  src: url('/assets/fonts/BCSans-Italic.woff') format('woff');
  font-style: italic;
}

$font-family: "BCSans", Calibri, Arial, "sans serif";

