@import '../styles/colours.scss';

.header {
  border-bottom: 2px solid $BCgovGold;
  background-color: $BCgovBlue;

  .container {
    display: flex;
    align-items: center;
    height: 70px;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.home-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;

  &__image {
    margin-right: 1.25rem;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
